body {
    font-family: sans-serif;
    margin: auto;
    padding-top: 80px;
    display: flex;
    flex-direction: column
}

.logo {
    width: 60px;
    padding-right: 10px;
}

.brand {
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 10px 20px;
    /* padding: 20px; */
    background-color: #333;
    color: #fff;
}

.nav-item {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    margin-right: 20px;
}

.navbtns {
    display: flex;
    align-items: center;
}

.title {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
}

#categories {
    background-color: #fff;
    border: 1px solid #333;
    color: #333;
    padding: 10px;
    font-size: 16px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 300px;
    margin: 20px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card p {
    margin: 10px;
    font-size: 20px;
}

.card a,
.cardbuttons a, 
 .btn{
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.favbutton img {
    display: flex;
    align-items: center;
    max-width: 20px;
    max-height: 20px;

}

.recipe-details {
    background-color: #fff;
    padding: 0 20px 20px 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 30%);
    position: fixed;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    z-index: 10;
    /* max-height: calc(100vh - 120px); */
    overflow-y: auto;
    overflow-x: hidden;
    height: 80%;
}

.recipe-details>div {
    padding-left: 2%;
}

#recipe-title {
    font-size: 32px;
    margin-bottom: 10px;
}

#recipe-img {
    width: 280px;
    border-radius: 20px;
    object-fit: cover;
    margin-bottom: 20px;
}

.ingredients {
    list-style: none;
    padding: 0;
}

.ingredients li {
    margin-bottom: 10px;
}

.back-btn {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    position: absolute;
    right: 20px;
    top: 5%;
}

.toggle-btn {
    color: #333;
    background-color: #afafaf;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    /* position: absolute; */
    z-index: 1000;
}

.hideme {
    display: none !important;
}

#areas {
    padding-top: 10px;
}

#geochart-colors,
#geochart-fav {
    margin: auto;
    width: 800px;
    position: relative;
    padding-top: 30px;
    z-index: 1 !important;
}

.cardbuttons {
    margin: 10px;
}

.big {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0px 30px 0px;
    box-shadow: 0 0px 10px rgba(61, 61, 61, 0.3);
    border-radius: 15px;
}

.big div {
    flex-basis: 100%;
    text-align: center;
}

.mealimg {
    width: 70%;
    border-radius: 8px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

#rotd {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
}

.dropbtn {
    color: white;
    font-size: 16px;
    border: none;
    pointer-events: none
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    border-radius: 8px;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

#resultList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-radius: 8px;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a,
#resultList a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover,
#resultList a:hover {
    background-color: #ddd;
    border-radius: 8px;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.tab-content {
    /* margin: 20px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.center {
    margin: auto;
    margin-top: 15%;
    width: 60%;
    text-align: center;
}

input[type=text] {
    width: 200px;
    box-sizing: border-box;
    margin-right: 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url(images/searchicon.png);
    background-repeat: no-repeat;
    background-position: 10px 10px;
    padding: 12px 20px 12px 40px;
}

#mapfilter img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    filter: invert(100%);
}

#mapfilter img,
#mapfilter span {
    vertical-align: middle;
    pointer-events: none
}

#mapfilter {
    z-index: 2;
    position: absolute;
    margin-top: 10px;
    background-color: #333;
    color: #ffffff;
    text-decoration: #333;
    font-style: initial;
    font-size: 10;
    padding: 5px 10px;
    border-radius: 10px 10px 10px 10px;
    border: none;
    box-shadow: 2px 2px 10px rgb(138, 137, 137);
    font-weight: bold;
    margin-left: 10px;
}

.cardcontainer .favbutton {
    position: relative;
    transform: translate(-130%, -410%);
    -ms-transform: translate(-50%, -50%);
    background-color: white;
    color: white;
    font-size: 16px;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
}

.homefavbtn {
    position: relative;
    left: 50%;
    transform: translate(240%, -750%);
    color: white;
    font-size: 16px;
    padding: 12px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
}

.homefavbtn img {
    width: 100%;
    height: 20px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.detailsContent {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

#recipe-info {
    text-align: justify;
    width: 100%;
    padding: 0 20px 0 20px;
    max-height: calc(100vh - 260px);
    overflow-y: auto;
}

.prueba {
    display: flex;
    flex-direction: column;
}